* {
    font-family:"Roboto", sans-serif;
}

#root {
    /* background-color:#134e4a; */
    /* background-color:#1c5c58; */
    /* background-color: rgb(1, 118, 87); */
    
}

.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    color: rgb(210, 150, 67);
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
    color: rgb(187, 142, 9);
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
    border-bottom: 1px solid rgb(255, 255, 255);
    
    
}

.logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 15%;
    margin-bottom: 20px;
    border-radius: 8px;
    
}